<div class="card card-balance">
    <div class="card-body">
      <div class="card-text">
        <div style="color: blue; font-weight: bold;">Entrada: R$ {{ incomeTotal }}</div>
        <div style="color: rgb(102, 81, 81); font-weight: bold;">Gastos Fixos: R$ {{ fixedEntries }}</div>
        <div style="color: red; font-weight: bold;">Gastos: R$ {{ expenseTotal }}</div>
        <div style="color: rgb(179, 179, 6); font-weight: bold;">Outros: R$ {{ othersTotal }}</div>
        <hr>
        <div style="font-weight: bold;">Total: R$ {{ total }}</div>
      </div>
    </div>
  </div>
  