/* You can add global styles to this file, and also import other style files */

/* Reset global para o layout ocupar e se adaptar à tela */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}
